
.border1 {
    border-width: 4px;
    border-style:dashed;
}

.content {
    height : 230px;
    z-index: 0;
    margin-top: 60px;
    margin-left : 300px;
}

.info-tile {
    font-size: 25px;
    height : 57px;
}

.main {
    font-size: 30px;
    box-sizing: border-box;
    height : 350px;
    width  : 350px;
    text-align: center;
}
#stagt{
    z-index : -1;
}
.tile {
    height : 100px;
    width  : 100px;
    font-size: 58px;
}

